:root {
    --himuon-cart--primary: #16a34a;
    --himuon-cart--secondary: #09090b;
    --himuon-cart--text: #52525b;
    --himuon-cart--title: #27272a;
    --himuon-cart--border: #e4e4e7;
    --himuon-cart--border-light: #f4f4f5;
    --himuon-cart--danger: #ef4444;
}

.himuon-cart {
    position: fixed;
    top: 0;
    right: -390px;
    width: 390px;
    max-width: 92vw;
    height: 100vh;
    background: #fff;
    border-left: 1px solid #e7e7e7;
    box-shadow: -8px 0 24px rgba(0, 0, 0, 0.08);
    display: flex;
    flex-direction: column;
    font-family: inherit;
    z-index: 99999;
    overflow: hidden;
    transition: all ease 0.5s;
}

.himuon-cart--show .himuon-cart{
    right: 0;
}

.himuon-cart--show .himuon-cart--opacity{
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
    background-color: var(--himuon-cart--secondary);
    z-index: 999;
    opacity: 0.5;
}

.himuon-cart--loading {
    position: absolute;
    inset: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.57);
    opacity: 0;
    pointer-events: none;
    transition: none;
    z-index: 2;
}

.himuon-cart--spinner {
    width: 30px;
    height: 30px;
    border: 2px solid var(--himuon-cart--border);
    border-bottom-color: var(--himuon-cart--border);
    border-bottom-color: var(--himuon-cart--primary);
    border-radius: 50%;
    display: inline-block;
    box-sizing: border-box;
    animation: rotation 0.4s linear infinite;
    z-index: 999;
    }

    @keyframes rotation {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.himuon-cart.is-loading .himuon-cart--loading {
    opacity: 1;
    pointer-events: all;
}

.himuon-cart--header,
.himuon-cart--footer {
    padding: 0.90rem;
}

.himuon-cart--header {
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-bottom: 0;
}

.himuon-cart--title {
    margin: 0;
    font-size: 16px;
    font-weight: 700;
    flex: 1;
    color: var(--himuon-cart--title);
}

.himuon-cart--item-counter {
    color: var(--himuon-cart--text);
    font-size: 0.9rem;
}

.himuon-cart--title-wrapper {
    display: flex;
    gap: 0.5rem;
    align-items: center;
}

.himuon-cart--close {
    width: 1.5rem;
    display: grid;
    place-items: center;
    cursor: pointer;
}

.himuon-cart--progress {
    padding: 0.5rem;
}

.himuon-cart--progress-text {
    margin: 0 0 8px;
    font-size: 13px;
    color: var(--himuon-cart--text);
    text-align: center;
}

.himuon-cart--progress-bar {
    width: 100%;
    height: 6px;
    background: var(--himuon-cart--border);
    border-radius: 999px;
    overflow: hidden;
}

.himuon-cart--progress-fill {
    display: block;
    height: 100%;
    background: var(--himuon-cart--primary);
}

.himuon-cart--progress-finish .himuon-cart--progress-text{
    color: var(--himuon-cart--primary);
    text-align: center;
}

.himuon-cart--body {
    flex: 1;
    overflow: auto;
    padding-top: 1rem;
}

/* 
    Empty Cart
*/
.himuon-cart--empty {
    margin: 0;
    font-size: 14px;
    color: var(--himuon-cart--text);
}

.himuon-cart--empty-message-wrapper {
    height: 100%;
    display: grid;
    place-items: center;
}

.himuon-cart--items {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.himuon-cart--cart-item{
    margin: 0;
    display: flex;
    border-bottom: 1px solid var(--himuon-cart--border-light);
    overflow: hidden;
    position: relative;
}

.himuon-cart--cart-item:last-child {
    border: 0;
}

.himuon-cart--name {
    font-size: 0.90rem;
    line-height: 1.4;
    color: var(--color-alt-content-text);
    text-decoration: none;
    display: block;
    margin-bottom: 6px;
}

.himuon-cart--item-content {
    display: flex;
    gap: 1rem;
    flex: 1;
}

.himuon-cart--thumb {
    display: block;
    width: 70px;
    height: 70px;
}

.himuon-cart--item {
    display: flex;
    gap: 0.5rem;
    flex: 1;
    padding: 0.5rem;
    transition: all ease 0.3s;
}

.himuon-cart--price {
    font-weight: 500;
    font-size: 0.85rem;
    text-align: right;
}

.himuon-cart--image {
    background-color: var(--color-alt-content-bg-alt-grad);
    border: 1px solid var(--color-alt-content-border);
    border-radius: 3px;
}

.himuon-cart--remove {
    color: var(--color-content-faded);
}

.himuon-cart--quantity {
    display: flex;
    border: 1px solid var(--himuon-cart--border);
    overflow: hidden;
    border-radius: 5px;
    max-width: max-content;
}

.himuon-cart--quantity input[type="number"] {
    width: 1.5rem;
    -moz-appearance: textfield;
    appearance: textfield;
    padding: 0;
    text-align: center;
    min-height: 1.5rem;
    line-height: 1.5rem;
    font-size: 12px;
    pointer-events: none;
    background-color: transparent;
    box-shadow: 0 0 0 0;
    color: var(--himuon-cart--text);
}

.himuon-cart--right-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: end;
}

.himuon-cart--variations {
    display: flex;
    gap: 0.1rem;
    cursor: pointer;
}

.himuon-cart--variation-data {
    display: flex;
    align-items: center;
    font-size: 13px;
    opacity: 0.5;
    color: var(--himuon-cart--text);
    gap: 0.3rem;
}


.himuon-cart--variation-data:hover {
    opacity: 1;
    text-decoration: underline;
}

.himuon-cart--variation-data span {
    line-height: normal;
}

.himuon-cart--variation-indicator {
    line-height: normal;
}

.himuon-cart--variation-product-title {
    margin-bottom: 1rem;
    font-weight: 400;
    font-size: .90rem;
}

.himuon-cart--variation-content select{
  appearance: menulist !important;
  -webkit-appearance: menulist !important;
  -moz-appearance: menulist !important;

    background: #fff;
    height: initial;
    min-height: initial;
    line-height: normal;
    padding: 7px;
    font-family: inherit;
    font-size: 14px;
    font-weight: 400;
    box-shadow: 0 0 0 0;
    color: var(--himuon-cart--text);
    border: 1px solid var(--himuon-cart--border);
}

.himuon-cart--variation-content .variations th,
.himuon-cart--variation-content .variations td{
    vertical-align: middle;
}

.himuon-cart--variation-content  .cart .variations label {
    padding: 0 !important;
    font-size: 0.85rem;
    color: var(--himuon-cart--text);
    font-weight: 400 !important;
}

.himuon-cart--variation-content  .woocommerce-select::after {
    display: none;
}



.himuon-cart--variation-content .stock {
    font-weight: 400 !important;
    font-size: 0.90rem !important;
}

.himuon-cart--item-data {
    flex-grow: 1;
}

.himuon-cart--variation-selection {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: 40;
    background-color: #fff;
    box-shadow: 0 0 5px 0 var(--himuon-cart--border);
    height: 0;
    transition: all ease 0.5s;
}

.himuon-cart--variation-selection.himuon-cart--show-variation {
    height: 400px;
}

.himuon-cart--spinner-wrapper {
    position: relative;
    height: 0;
    width: 0;
    display: grid;
    place-items: center;
    overflow: hidden;
}

.himuon-cart--spinner-wrapper.himuon-cart--show-variation-spinner {
    height: 100%;
    width: 100%;   
}


.himuon-cart--variation-content .woocommerce-variation-description {
    display: none;
}

.himuon-cart--variation-content td, .himuon-cart--variation-content th {
    padding: 0;
    border: 0;
}


/* Chrome, Edge, Safari */
.himuon-cart--quantity .qty::-webkit-inner-spin-button,
.himuon-cart--quantity .qty::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.himuon-cart--quantity button {
    width: 1.5rem;
    background-color: transparent;
}


.himuon-cart--variation-content {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.himuon-cart--form-wrapper {
    flex: 1;
    padding: 1rem;
}

.himuon-cart--variation-action {
    display: flex;
    justify-content: space-between;
    height: 50px;
}

.himuon-cart--variation-action * {
    width: 100%;
    display: grid;
    place-items: center;
}

.himuon-cart--variation-link {
    background-color: var(--himuon-cart--border-light);
    text-decoration: none;
    color: var(--himuon-cart--text);
    text-transform: uppercase;
    font-size: 0.85rem;
    font-weight: 700;
}

.himuon-cart--variation-link:hover {
    background-color: var(--himuon-cart--border);
}

.himuon-cart--variation-update-cart-item {
    background-color: var(--himuon-cart--secondary);
    color: #fff;
    font-weight: 700;
    font-size: 0.85rem;
    text-transform: uppercase;
}




/* 
    Cart Item Actions 
*/
.himuon-cart--cart-item-action {
    width: 25px;
    display: grid;
    place-items: center;
    background-color: transparent;
    cursor: pointer;
    transition: all ease 0.3s;
}

.himuon-cart--cart-item-action:hover {
    background-color: var(--himuon-cart--border-light);
}

.himuon-cart--actions {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    background: var(--himuon-cart--border);
    transition: width 0.3s ease;
}

.himuon-cart--actions-content {
    height: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.himuon-cart--action-delete {
    width: max-content;
    padding: 0.5rem 1rem;
    background-color: var(--himuon-cart--danger);
    color: #fff;
    display: grid;
    height: 100%;
    place-items: center;
    cursor: pointer;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* 
    Empty Cart
*/
.himuon-cart--empty-wrapper {
    height: 100%;
    place-items: center;
    display: grid;
}


/* 
    Mini Cart
*/
.himuon-cart--min-cart-wrapper {
    position: absolute;
    right: 70px;
    bottom: 70px;
}

#himuon-mini-cart {
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 1px solid var(--himuon-cart--border-light);
    display: grid;
    place-items: center;
    position: relative;
    border-radius: 5px;
    box-shadow: 0 0 10px 0 var(--himuon-cart--border);
}

.himuon-cart--mini-count {
    position: absolute;
    top: -8px;
    right: -5px;
    width: 23px;
    height: 23px;
    background-color: var(--himuon-cart--secondary);
    border-radius: 20rem;
    color: #fff;
    display: grid;
    place-items: center;
    line-height: normal;
    font-size: 12px;
    border: 2px solid #fff;
}

.himuon-cart--mini-icon {
    display: grid;
    color: var(--himuon-cart--secondary);
}

 

/* 
    Subscription 
*/
.himuon-cart--purchase-type {
    font-size: 0.80rem;
    line-height: normal;
    color: var(--himuon-cart--text);
    opacity: 0.6;
    margin-top: 0.2rem;
}

.himuon-cart--subscription-option {
    display: block;
}

.himuon-cart--subscription-label {
    font-size: 0.90rem;
    color: var(--himuon-cart--text);
    font-weight: 400;
}

.himuon-cart--subscription-option input{
    display: none;
}

.himuon-cart--subscription-title {
    display: block;
    font-size: 0.90rem;
    color: var(--himuon-cart--text);
    font-weight: 400;
    line-height: normal;
}

.himuon-cart--subscription-detail {
    font-size: 0.85rem;
    color: var(--himuon-cart--text);
    opacity: 0.7;
}

/* Edit Action */
.himuon-cart--action-edit {
    width: max-content;
    padding: 0.5rem 1rem;
    background-color: var(--himuon-cart--secondary);
    color: #fff;
    display: grid;
    height: 100%;
    place-items: center;
    cursor: pointer;
    font-size: 0.75rem;
    text-transform: uppercase;
    font-weight: 600;
}

/* 
    Footer
*/
.himuon-cart--footer {
    border-top: 1px solid var(--himuon-cart--border);
}

.himuon-cart--totals {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-bottom: 12px;
}

.himuon-cart--checkout {
    display: inline-block;
    width: 100%;
    text-align: center;
    text-decoration: none;
    padding: 10px 12px;
    background: var(--himuon-cart--secondary);
    color: #fff;
    border-radius: 4px;
    font-size: 0.90rem;
    text-transform: uppercase;
    font-weight: 700;
}

@media (max-width: 640px) {
    .himuon-cart {
        width: 100%;
        max-width: 100%;
    }
}


